:root {
    --outer-body-color: lightblue;
    --center-dot-color: darkmagenta;
    
    // Hour Hand
    --hour-hand-color: red;
    --hour-hand-height: 35%;

    // Minutes Hand
    --minutes-hand-color: green;
    --minutes-hand-height: 40%;

    // Seconds Hand
    --seconds-hand-color: blue;
    --seconds-hand-height: 45%;
}

.outer-body {
    height: 200px;
    width: 200px;
    background-color: var(--outer-body-color);
    border-radius: 100%;
    display: flex;
    position: relative;
}

.center {
    border-radius: 100%;
    background-color: var(--center-dot-color);
    height: 6px;
    width: 6px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 9999;
}

.hour-hand {
    height: var(--hour-hand-height);
    width: 5px;
    background-color: var(--hour-hand-color);
    position: absolute;
    left: 50%;
    top: calc(50% - var(--hour-hand-height) - 1px);
    transform: rotate(0deg);
    transform-origin: bottom;
}

.minutes-hand {
    height: var(--minutes-hand-height);
    width: 5px;
    background-color: var(--minutes-hand-color);
    position: absolute;
    left: 50%;
    top: calc(50% - var(--minutes-hand-height) - 1px);
    transform: rotate(90deg);
    transform-origin: bottom;
}

.seconds-hand {
    height: var(--seconds-hand-height);
    width: 5px;
    background-color: var(--seconds-hand-color);
    position: absolute;
    left: 50%;
    top: calc(50% - var(--seconds-hand-height) - 1px);
    transform: rotate(180deg);
    transform-origin: bottom;
}